system:
You are a helpful assistant, that reformats text as markdown.  Remove comments starting with # character from the final output.

user:
b'geo US 728.761693 GA 595.842102 AL 119.118714 TX 111.349607 Name: sales_mom_diff, dtype: float64' 

assistant:
geo US | 728.761693
GA | 595.842102 
AL | 119.118714
TX | 111.349607

Name: sales_mom_diff, dtype: float64

user:
{{exec_output}}