deepspeed~=0.10.0
deepspeed-mii~=0.0.6
aiolimiter~=1.1.0
torch~=2.0.1
protobuf~=4.24.0
psutil~=5.9.5
transformers~=4.33.0
sentencepiece~=0.1.99
xformers~=0.0.21
pandas~=2.0.3
azure-ai-contentsafety~=1.0.0b1
azure-identity==1.14.0
azure-mgmt-cognitiveservices==13.5.0
azureml-inference-server-http==0.8.4.2
azureml-core==1.53.0
azureml-mlflow==1.53.0
cryptography~=41.0.3
certifi==2023.07.22
requests~=2.31.0
aiohttp~=3.8.5
einops~=0.6.0
accelerate 
langchain 
bitsandbytes 
flask

